<div class="row"></div>
<div class="clearfix"></div>
<div class="row" >
	<div class="col-md-12">		
		<div class="btn btn-primary btn-flat btn-sm" ng-click="refresh()">
			<i class="glyphicon glyphicon-refresh"></i>
		</div>
		<div class="box">
			<div class="box-header">
				<h1 class="box-title" align="center">Monitoring Job Histories</h1>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				
				<table ng-table="tableParams" class="table table-bordered table-striped">
					<tr ng-repeat="history in $data track by history.entryId ">
						<td data-title="'Entry ID'" sortable="'entryId'"> {{history.entryId}}	</td>
						<td data-title="'Hostname'" sortable="'hostname'"> {{history.hostname}} 	</td>
						<td data-title="'IP-Address'" sortable="'ipAddress'"> {{history.ipAddress}} 	</td>
						<td data-title="'SchedulerName'" sortable="'schedulerName'"> {{history.schedulerName}} 	</td>
						<td data-title="'JobName'" sortable="'jobName'">{{history.jobName}}</td>
						<td data-title="'JobGroup'" sortable="'jobGroup'">{{history.jobGroup}}</td>
						<td data-title="'TriggerName'" sortable="'triggerName'">{{history.triggerName}}</td>
						<td data-title="'TriggerGroup'" sortable="'ipAddress'">{{history.triggerGroup}}</td>
						<td data-title="'FiredTime'" sortable="'ipAddress'">{{history.firedTime}}</td>
						<td data-title="'Status'" sortable="'ipAddress'">{{history.result}}</td>
					</tr>
				</table>
				
			</div>
		</div>
	</div>
</div>