<div class="row"></div>
<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12">
		<div class="btn btn-primary btn-flat btn-sm" ng-click="refresh()">
			Refresh</div>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Monitoring Job Histories</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="example2" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Entry ID</th>
							<th>Hostname</th>
							<th>IpAddress</th>
							<th>SchedulerName</th>
							<th>JobName</th>
							<th>JobGroup</th>
							<th>TriggerName</th>
							<th>TriggerGroup</th>
							<th>Fired on</th>
							<th>Result</th>							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="history in histories">
							<td>{{history.entryId}}</td>
							<td>{{history.hostname}}</td>
							<td>{{history.ipAddress}}</td>
							<td>{{history.schedulerName}}</td>
							<td>{{history.jobName}}</td>
							<td>{{history.jobGroup}}</td>
							<td>{{history.triggerName}}</td>
							<td>{{history.triggerGroup}}</td>
							<td>{{history.firedTime}}</td>
							<td>{{history.result}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>